--extra-index-url https://download.pytorch.org/whl/cpu
nncf==2.14.1
torch>=2.1
datasets
accelerate
gradio>=4.19
huggingface-hub>=0.26.5
einops
tiktoken
git+https://github.com/huggingface/optimum-intel.git
numpy<2.0.0
requests
modelscope
diffusers
peft

# jupyter
jupyterlab
ipywidgets
ipykernel>=5.0
ipython>=7.16.3
